.header {
<<<<<<< HEAD
    width: 100%;
    padding: 57px 120px 0 80px; // Паддинг не правильный был из-за чего лого не так стоял как в дизайне
    @include flex-center-wrap; //не забывай стаивть wrap!
        //gap: 203px; не используйпросто gap используй column-gap для отступа по ширине и row-gap для остутпа по высоте
    column-gap: 203px;
    row-gap:40px;

=======
    width: calc(1440/1440*100%);
    @include flex-center-wrap;
    padding: 57px 120px 0 80px;
    column-gap: 203px;
    row-gap: 40px;
>>>>>>> 57303363c061854a2c18a5c5a529d1e76ffb8883

    &__logo {
        background-image: var(--gradient-logo);
        background-clip: text;
        color: transparent;
        font-size: var(--heading-size-logo);
        font-family: var(--second-family);
        font-weight: var(--font-weight-700);
    }

<<<<<<< HEAD
    &__nav {
        @include flex-center; // центрировать не забывай 

    }

=======
>>>>>>> 57303363c061854a2c18a5c5a529d1e76ffb8883
    &__btn-cont > button {
        border-radius: var(--button-radius);
        padding: 12px 40px;
        width: 141px;
        height: 43px;
        background: var(--button-bg-color);
        color: var(--text-white);
        font-weight: var(--font-weight-700);
    }
}

.nav {

    &__list {
<<<<<<< HEAD
        @include flex-center-wrap; //не забывай стаивть wrap!
        gap: 60px;
=======
        @include flex-center-wrap;
        column-gap: 60px;
        row-gap: 40px;
>>>>>>> 57303363c061854a2c18a5c5a529d1e76ffb8883
    }
}

.list {
    &__element {
        font-size: var(--text-size-normal);
        font-weight: var(--font-weight-700);
    }

    &__element > a {
        color: var(--text-dark);
        transition: 2s;
    }

    &__element > a:hover {
        color: var(--text-hover-orange);
    }

}

