@mixin flex {
    display: flex;
}

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex-end {
    display: flex;
    justify-content: flex-end;
}


@mixin flex-center-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

@mixin flex-center-wrap-reverse {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap-reverse;
}

@mixin flex-list {
    display: flex;
    flex-direction: column;
}

@mixin flex-list-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

@mixin flex-list-start {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

@mixin flex-list-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@mixin flex-list-horizontal-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@mixin flex-list-vertical-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@mixin flex-space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin flex-space-around {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@mixin grid {
    display: grid;
}

@mixin grid-center {
    display: grid;
    justify-content: center;
    align-items: center;
}
