:root {
    --gradient-logo: linear-gradient(90deg, #fa6e00 0%, #e60026 100%);
    --text-hover-orange: #FD6F00;
    --text-dark: #959595;
    --text-white: #FFFFFF;
    --heading-orange: linear-gradient(110deg, #984300 0%, #fd6f00 46.35%, #ca5900 100%);
    --text-size-small: 16px;
    --text-size-normal: 20px;
    --heading-size-logo: 30px;
    --heading-size-small: 24px;
    --heading-size-normal: 28px;
    --heading-size-big: 70px;
    --button-radius: 8px;
    --button-bg-color: linear-gradient(129deg, #fd6f00 0%, #e46400 100%);
    --body-color: #121212;
    --text-white-active: #C6C6C6;
    --text-white-hover: #DFDFDF;
    --background-darker: rgba(255, 255, 255, 0.04);
    --text-grey-active: #707070;
    --text-grey-hover: #959595;
}