html {
  scroll-behavior: smooth;
}

* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* Links */
a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

:root {
  --gradient-logo: linear-gradient(90deg, #fa6e00 0%, #e60026 100%);
  --text-hover-orange: #FD6F00;
  --text-dark: #959595;
  --text-white: #FFFFFF;
  --heading-orange: linear-gradient(110deg, #984300 0%, #fd6f00 46.35%, #ca5900 100%);
  --text-size-small: 16px;
  --text-size-normal: 20px;
  --heading-size-logo: 30px;
  --heading-size-small: 24px;
  --heading-size-normal: 28px;
  --heading-size-big: 70px;
  --button-radius: 8px;
  --container-radius: 24px;
  --button-bg-color: linear-gradient(129deg, #fd6f00 0%, #e46400 100%);
  --body-color: #121212;
  --text-white-active: #C6C6C6;
  --text-white-hover: #DFDFDF;
  --background-darker: rgba(255, 255, 255, 0.04);
  --text-grey-active: #707070;
  --text-grey-hover: #959595;
  --font-weight-500: 500;
  --font-weight-600: 600;
  --font-weight-700: 700;
  --font-weight-800: 800;
  --font-weight-900: 900;
  --second-family: "K2D", sans-serif;
  --foundation-white-light: #FEFEFE;
  --foundation-white-darker: #575757;
  --foundation-orange-normal: #FD6F00;
  --font-size-40px: 40px;
  --gradient-percentage: linear-gradient(129deg, #e46400 100%);
}

body {
  background-color: var(--body-color);
}

body > * {
  font-family: Lato;
}

body > h1, h2, h3, h4, h5, h6, p, span {
  cursor: default;
}

.k2d-thin {
  font-family: "K2D", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.k2d-extralight {
  font-family: "K2D", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.k2d-light {
  font-family: "K2D", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.k2d-regular {
  font-family: "K2D", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.k2d-medium {
  font-family: "K2D", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.k2d-semibold {
  font-family: "K2D", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.k2d-bold {
  font-family: "K2D", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.k2d-extrabold {
  font-family: "K2D", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.k2d-thin-italic {
  font-family: "K2D", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.k2d-extralight-italic {
  font-family: "K2D", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.k2d-light-italic {
  font-family: "K2D", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.k2d-regular-italic {
  font-family: "K2D", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.k2d-medium-italic {
  font-family: "K2D", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.k2d-semibold-italic {
  font-family: "K2D", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.k2d-bold-italic {
  font-family: "K2D", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.k2d-extrabold-italic {
  font-family: "K2D", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 57px 80px 0 80px;
  gap: 203px;
}
.header__logo {
  background-image: var(--gradient-logo);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
  font-size: var(--heading-size-logo);
  font-family: var(--second-family);
  font-weight: var(--font-weight-700);
}
.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__btn-cont > button {
  border-radius: var(--button-radius);
  padding: 12px 40px;
  width: 141px;
  height: 43px;
  background: var(--button-bg-color);
  color: var(--text-white);
  font-weight: var(--font-weight-700);
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 60px;
}

.list__element {
  font-size: var(--text-size-normal);
  font-weight: var(--font-weight-700);
}
.list__element > a {
  color: var(--text-dark);
  -webkit-transition: 2s;
  transition: 2s;
}
.list__element > a:hover {
  color: var(--text-hover-orange);
}

.main {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 150px;
}
.main__discription {
  width: 100%;
  padding-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 128px;
}
.main__services {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 80px;
}
.main__services-cards {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
  grid-template-columns: repeat(auto-fit, 400px);
}
.main__about-me {
  width: 90.1388888889%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
}
.main__portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 70px;
}
.main__connection {
  width: 70.2777777778%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 50px;
}

.discription__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 80px;
}

.info__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 61px;
}
.info__stats {
  border-radius: var(--button-radius);
  padding: 24px 24px 24px 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
  background-color: var(--background-darker);
}

.text__about-employee {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 17px;
}
.text__btn-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
}

.btn-cont > button:nth-child(1) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: var(--button-radius);
  padding: 12px 40px 12px 40px;
  width: 156px;
  height: 48px;
  background: var(--button-bg-color);
  color: var(--text-white);
  font-size: var(--text-size-normal);
  font-weight: var(--font-weight-700);
}

.btn-cont > button:nth-child(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid var(--text-grey-hover);
  border-radius: var(--button-radius);
  padding: 12px 40px 12px 40px;
  width: 209px;
  height: 48px;
  color: var(--text-grey-hover);
  font-size: var(--text-size-normal);
  font-weight: var(--font-weight-700);
}

.about-employee__employee {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 24px;
}
.about-employee__employee > p {
  font-size: var(--heading-size-big);
  background: var(--heading-orange);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
  text-shadow: 0px 0px 1000px rgb(148, 96, 0);
  font-weight: var(--font-weight-900);
}
.about-employee__media {
  padding-top: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

.employee__greeting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}
.employee__greeting > h2 {
  font-size: var(--heading-size-small);
  color: var(--text-grey-active);
  font-weight: var(--font-weight-600);
}
.employee__greeting > h3 {
  font-size: var(--heading-size-normal);
  color: var(--text-grey-active);
  font-weight: var(--font-weight-700);
}
.employee__greeting > h2:hover {
  font-size: var(--heading-size-small);
  color: var(--text-grey-hover);
}
.employee__greeting > h3:hover {
  font-size: var(--heading-size-normal);
  color: var(--text-grey-hover);
}

.stats__text-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-right: 30px;
  border-right: solid 1px var(--text-white);
  gap: 12px;
}
.stats__text-cont > h2 {
  font-size: var(--heading-size-small);
  color: var(--text-hover-orange);
  font-weight: var(--font-weight-800);
}
.stats__text-cont > p {
  font-size: var(--text-size-normal);
  color: var(--text-white-active);
  font-weight: var(--font-weight-700);
}
.stats__text-cont > p:hover {
  color: var(--text-white-hover);
}
.stats__text-cont--none {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-right: 30px;
  gap: 12px;
}
.stats__text-cont--none > h2 {
  font-size: var(--heading-size-small);
  color: var(--text-hover-orange);
  font-weight: var(--font-weight-800);
}
.stats__text-cont--none > p {
  font-size: var(--text-size-normal);
  color: var(--text-white-active);
  font-weight: var(--font-weight-700);
}
.stats__text-cont--none > p:hover {
  color: var(--text-white-hover);
}

.services__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 18px;
}
.services__text > h2 {
  color: var(--foundation-white-light);
  font-weight: var(--font-weight-700);
  font-size: var(--font-size-40px);
}
.services__text > p {
  color: var(--text-grey-active);
  font-weight: var(--font-weight-500);
  font-size: var(--font-size-normal);
}

.services-cards__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 34px;
  background-color: var(--background-darker);
  padding: 34px;
  border-radius: var(--container-radius);
}

.card__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
}
.card__icon > h2 {
  color: var(--foundation-orange-normal);
  font-weight: var(--font-weight-700);
  font-size: var(--heading-size-small);
}
.card__text > p {
  color: var(--foundation-white-darker);
  font-weight: var(--font-weight-500);
  font-size: var(--text-size-normal);
  text-align: center;
  line-height: 160%;
}

.about-me__small-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  align-items: center;
  gap: 18px;
}
.about-me__small-text > h2 {
  font-size: var(--font-size-40px);
  font-weight: var(--font-weight-700);
  color: var(--foundation-white-light);
  letter-spacing: 0.03em;
  text-align: justify;
}
.about-me__small-text > p {
  font-weight: var(--font-weight-500);
  line-height: 160%;
  letter-spacing: 0.03em;
  text-transform: capitalize;
  text-align: justify;
  color: var(--text-grey-active);
}
.about-me__big-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 101px;
}
.about-me__skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 74px;
  margin-top: 60px;
}

.big-text__main-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 40px;
}
.big-text__main-text > p {
  font-family: var(--font-family);
  font-weight: var(--font-weight-500);
  font-size: var(--text-size-normal);
  line-height: 190%;
  text-align: justify;
  color: var(--text-grey-active);
}
.big-text__main-text > button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  padding: 12px 30px 12px 30px;
  width: 224px;
  height: 48px;
  font-weight: var(--font-weight-700);
  font-size: var(--text-size-normal);
  color: var(--text-white);
  border-radius: var(--button-radius);
  background: var(--button-bg-color);
}

.skills__the-scale {
  width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  gap: 24px;
}

.the-scale__programm-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}
.the-scale__programm-name > h2 {
  background: var(--gradient-percentage);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
  font-size: var(--heading-size-normal);
  font-weight: var(--font-weight-700);
}
.the-scale__programm-name > p {
  color: var(--text-dark);
  font-size: var(--heading-size-small);
  font-weight: var(--font-weight-700);
}

.portfolio__portfolio-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
}
.portfolio__portfolio-btns > h2 {
  color: var(--foundation-white-light);
  font-weight: var(--font-weight-700);
  font-size: var(--font-size-40px);
}
.portfolio__examples {
  width: 100%;
  display: -ms-grid;
  display: grid;
  padding: 0 80px;
  -webkit-column-gap: 17px;
     -moz-column-gap: 17px;
          column-gap: 17px;
  row-gap: 24px;
  -ms-grid-columns: 415px 17px 415px 17px 415px;
  grid-template-columns: repeat(3, 415px);
}

.portfolio-btns__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 24px;
}
.portfolio-btns__buttons > :nth-last-child(-n+4) {
  height: 54px;
  background: rgba(255, 255, 255, 0.08);
  border-radius: var(--button-radius);
  padding: 14px 40px;
  font-weight: var(--font-weight-700);
  font-size: var(-text-size-small);
  color: var(--text-white-active);
}
.portfolio-btns__buttons > :nth-child(1) {
  background: var(--button-bg-color);
  border-radius: var(--button-radius);
  padding: 14px 40px;
  font-weight: var(--font-weight-700);
  font-size: var(-text-size-small);
  color: var(--text-white);
}

.examples__project-card > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 0 0 16px 16px;
  background: rgba(255, 255, 255, 0.08);
  padding: 16px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: var();
}

.project-card__name-project > h2 {
  color: var(--text-white-active);
}
.project-card__name-project > p {
  color: var(--text-grey-hover);
}

.connection__contact-me {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 18px;
}
.connection__contact-me > h2 {
  color: var(--foundation-white-light);
  font-weight: var(--font-weight-700);
  font-size: var(--font-size-40px);
}
.connection__contact-me > p {
  color: var(--text-grey-active);
  font-weight: var(--font-weight-500);
  font-size: var(--text-size-normal);
}
.connection__contact-with-me {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
}
.connection__contact-with-me > div {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.connection__contact-with-me > div > button {
  border: 2px solid var(--text-grey-hover);
  border-radius: var(--button-radius);
  padding: 12px 40px;
  font-weight: var(--font-weight-700);
  font-size: var(--text-size-normal);
  color: var(--text-grey-hover);
}

.contact-with-me__same-forms {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  border-radius: var(--button-radius);
  background: rgba(255, 255, 255, 0.04);
  padding: 14px 24px;
  font-weight: var(--font-weight-500);
  font-size: var(--text-size-small);
  color: var(--text-grey-hover);
}
.contact-with-me__none-same-forms {
  height: 162px;
  border-radius: var(--button-radius);
  background: rgba(255, 255, 255, 0.04);
  padding: 14px 24px;
  font-weight: var(--font-weight-500);
  font-size: var(--text-size-small);
  color: var(--text-grey-hover);
}
.contact-with-me__none-same-forms > :nth-child(1) {
  height: 54px;
}