.main {
    width: 100%;
    @include flex-list-center;
    row-gap: 150px;

    &__discription {
        width: 100%;
        padding-top: 30px;
        @include flex-center-wrap-reverse;
        gap: 128px;
    }

    &__services {
        width: 100%;
        @include flex-list-center;
        gap: 80px;
    }

    &__services-cards {
        width: 100%;
        @include grid-center;
        gap: 40px;
        grid-template-columns: repeat(auto-fit, 400px);
    }

    &__about-me {
        width: calc(1298/1440)*100%;
        @include flex-list-center;
        gap: 40px;
    }

    &__portfolio {

        width: 100%;
        @include flex-list-center;
        gap: 70px;
    }

    &__connection {
        width: calc(1012/1440)*100%;
        @include flex-list-center;
        gap: 50px;
    }
}

.discription {
    &__info {
        @include flex-list;
        gap: 80px;
    }

    &__image {
        img {
            filter: grayscale(80%);
        }
    }
}

.info {
    &__text {
        @include flex-list;
        gap: 61px;
    }

    &__stats {
        border-radius: var(--button-radius);
        padding: 24px 24px 24px 24px;
        @include flex-center;
        gap: 30px;
        background-color: var(--background-darker);
    }
}

.text {
    &__about-employee {
        @include flex-list;
        gap: 17px;
    }

    &__btn-cont {
        @include flex;
        gap: 24px;
    }
}

.btn-cont > button:nth-child(1) {
    @include flex-center;
    border-radius: var(--button-radius);
    padding: 12px 40px 12px 40px;
    width: 156px;
    height: 48px;
    background: var(--button-bg-color);
    color: var(--text-white);
    font-size: var(--text-size-normal);
    font-weight: var(--font-weight-700);
}

.btn-cont > button:nth-child(2) {
    @include flex-center;
    border: 2px solid var(--text-grey-hover);
    border-radius: var(--button-radius);
    padding: 12px 40px 12px 40px;
    width: 209px;
    height: 48px;
    color: var(--text-grey-hover);
    font-size: var(--text-size-normal);
    font-weight: var(--font-weight-700);
}

.about-employee {
    &__employee {
        @include flex-list;
        gap: 24px;
    }

    &__employee > p {
        font-size: var(--heading-size-big);
        background: var(--heading-orange);
        background-clip: text;
        color: transparent;
        text-shadow: 0px 0px 1000px rgb(148, 96, 0);
        font-weight: var(--font-weight-900);
    }

    &__media {
        padding-top: 16px; 
        @include flex;
        gap: 20px;
    }
}

.employee {
    &__greeting {
        @include flex-list;
        gap: 10px;
    }

    &__greeting > h2 {
        font-size: var(--heading-size-small);
        color: var(--text-grey-active);
        font-weight: var(--font-weight-600);
    }

    &__greeting > h3 {
        font-size: var(--heading-size-normal);
        color: var(--text-grey-active);
        font-weight: var(--font-weight-700);
    }

    &__greeting > h2:hover {
        font-size: var(--heading-size-small);
        color: var(--text-grey-hover);
    }

    &__greeting > h3:hover {
        font-size: var(--heading-size-normal);
        color: var(--text-grey-hover);
    }
}

.stats {

    &__text-cont {
        @include flex-list;
        padding-right: 30px;
        border-right: solid 1px var(--text-white);
        gap: 12px;
    }

    &__text-cont > h2 {
        font-size: var(--heading-size-small);
        color: var(--text-hover-orange);
        font-weight: var(--font-weight-800);
    }

    &__text-cont > p {
        font-size: var(--text-size-normal);
        color: var(--text-white-active);
        font-weight: var(--font-weight-700);
    }

    &__text-cont > p:hover {
        color: var(--text-white-hover);
    }

    &__text-cont--none {
        @include flex-list;
        padding-right: 30px;
        gap: 12px;
    }

    &__text-cont--none > h2 {
        font-size: var(--heading-size-small);
        color: var(--text-hover-orange);
        font-weight: var(--font-weight-800);
    }

     &__text-cont--none > p {
        font-size: var(--text-size-normal);
        color: var(--text-white-active);
        font-weight: var(--font-weight-700);
    }

    &__text-cont--none > p:hover {
        color: var(--text-white-hover);
    }
}

.services {
    &__text {
        @include flex-list-center;
        gap: 18px;
    }

    &__text > h2 {
        color: var(--foundation-white-light);
        font-weight: var(--font-weight-700);
        font-size: var(--font-size-40px);
    }

    &__text > p {
        color: var(--text-grey-active);
        font-weight: var(--font-weight-500);
        font-size: var(--font-size-normal);
    }
}

.services-cards {
    &__card {
        @include flex-list-center;
        gap: 34px;
        background-color: var(--background-darker);
        padding: 34px;
        border-radius: var(--container-radius);
    }
}

.card {
    &__icon {
        @include flex-list-center;
        gap: 16px;
    }

    &__icon > h2 {
        color: var(--foundation-orange-normal);
        font-weight: var(--font-weight-700);
        font-size: var(--heading-size-small);
    }

    &__text > p {
        color: var(--foundation-white-darker);
        font-weight: var(--font-weight-500);
        font-size: var(--text-size-normal);
        text-align: center;
        line-height: 160%;
    }
}

.about-me {
    &__small-text {
        @include flex-list-center;
        align-items: center;
        gap: 18px;
    }

    &__small-text > h2 {
        font-size: var(--font-size-40px);
        font-weight: var(--font-weight-700);
        color: var(--foundation-white-light);
        letter-spacing: 0.03em;
        text-align: justify;
    }

    &__small-text > p {
        font-weight: var(--font-weight-500);
        line-height: 160%;
        letter-spacing: 0.03em;
        text-transform: capitalize;
        text-align: justify;
        color: var(--text-grey-active);
    }

    &__big-text {
        @include flex-center-wrap;
        gap: 101px;
    }

    &__skills {
        @include flex-center-wrap;
        gap: 74px;
        margin-top: 60px;
    }
}

.big-text {
    &__main-text {
        @include flex-list-start;
        gap: 40px;
    }

    &__main-text > p {
        font-family: var(--font-family);
        font-weight: var(--font-weight-500);
        font-size: var(--text-size-normal);
        line-height: 190%;
        text-align: justify;
        color: var(--text-grey-active);
    }

    &__main-text > button {
        @include flex-center;
        gap: 10px;
        padding: 12px 30px 12px 30px;
        width: 224px;
        height: 48px;
        font-weight: var(--font-weight-700);
        font-size: var(--text-size-normal);
        color: var(--text-white);
        border-radius: var(--button-radius);
        background: var(--button-bg-color);
    }
}

.skills {
    &__the-scale {
        width: 200px;
        @include flex-list-center;
        text-align: center;
        gap: 24px;
    }
}

.the-scale {
    &__programm-name {
        @include flex-list-center;
        gap: 8px;
    }

    &__programm-name > h2 {
        background: var(--gradient-percentage);
        background-clip: text;
        color: transparent;
        font-size: var(--heading-size-normal);
        font-weight: var(--font-weight-700);
    }

    &__programm-name > p {
        color: var(--text-dark);
        font-size: var(--heading-size-small);
        font-weight: var(--font-weight-700);
    }
}

.portfolio {
    &__portfolio-btns {
        @include flex-list-center;
        gap: 40px;
    }

    &__portfolio-btns > h2 {
        color: var(--foundation-white-light);
        font-weight: var(--font-weight-700);
        font-size: var(--font-size-40px);
    }

    &__examples {
        width: 100%;
        @include grid-center;
        padding: 0 80px;
        column-gap: 17.5px;
        row-gap: 24px;
        grid-template-columns: repeat(auto-fit, 415px);
    }
}

.portfolio-btns {
    &__buttons {
        @include flex-center-wrap;
        gap: 24px;
    }

    &__buttons > :nth-last-child(-n + 4) {
        height: 54px;
        background: rgba(255, 255, 255, 0.08);
        border-radius: var(--button-radius);
        padding: 14px 40px;
        font-weight: var(--font-weight-700);
        font-size: var(-text-size-small);
        color: var(--text-white-active);
    }

    &__buttons > :nth-child(1) {
        background: var(--button-bg-color);
        border-radius: var(--button-radius);
        padding: 14px 40px;
        font-weight: var(--font-weight-700);
        font-size: var(-text-size-small);
        color: var(--text-white);
    }
}

.examples {
    &__project-card > div {
        @include flex;
        border-radius: 0 0 16px 16px;
        background: rgba(255, 255, 255, 0.08);
        padding: 16px;
        justify-content: space-between;
        color: var();
    }
}

.project-card {
    &__name-project > h2 {
        color: var(--text-white-active);
    }

    &__name-project > p {
        color: var(--text-grey-hover);
    }
}

.connection {
    &__contact-me {
        @include flex-list-center;
        gap: 18px;
    }

    &__contact-me > h2 {
        color: var(--foundation-white-light);
        font-weight: var(--font-weight-700);
        font-size: var(--font-size-40px);
    }

    &__contact-me > p {
        color: var(--text-grey-active);
        font-weight: var(--font-weight-500);
        font-size: var(--text-size-normal);
    }


    &__contact-with-me {
        @include flex-list;
    }

}

// я перенес форму так как ты из-за не закрытого секшина всё перепутал
.form{
        @include flex-list-center;
        gap: 30px;
    p {
        @include flex-center-wrap; // center-wrap не забывай про врапы, они нужны там где элементы обязательно должны смещаться
        padding: 14px 24px;
        gap: 30px;
    } // стили для инпута пишутся на инпутах а не на их контейнера

    p>input{
        width: 391px; //высоту и ширину я поставил
        height: 54px; //высоту и ширину я поставил
        padding: 10px; // нужен чтобы плейсхолдер и текст отсутпились
        color: white; // нужен чтобы менялся цвет у текста который ты ввел в инпут
        border-radius: var(--button-radius);
        background: rgba(255, 255, 255, 0.04);
    }

    button {
        @include flex-end;
    }

    &__contact-with-me > div > button {
        border: 2px solid var(--text-grey-hover);
        border-radius: var(--button-radius);
        padding: 12px 40px;
        font-weight: var(--font-weight-700);
        font-size: var(--text-size-normal);
        color: var(--text-grey-hover);
    }

    &__form {
        @include flex-list;
        gap: 30px;
    }
}

.form {
    p {
        @include flex-center-wrap;
        gap: 30px;
        align-items: start;
        input {
            width: 491px;
            height: 54px;
            border-radius: 8px;
            padding: 12px 24px;
            background: rgba(255, 255, 255, 0.04);
            color: var(--text-grey-hover);
        }
    }

    &__none-same-forms > input:nth-last-child(1) {
        height: 162px;
    }

    div {
        @include flex-end;
        button {
            padding: 12px 40px;
            border: 2px solid var(--text-grey-hover);
            border-radius: var(--button-radius);
            color: var(--text-grey-hover);
            font-weight: var(--font-weight-700);
            font-size: var(--text-size-normal);
        }
    }
}


